@font-face {
  font-family: Poppins-Regular;
  src: url(../font/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url(../font/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: Poppins-Bold;
  src: url(../font/Poppins-Bold.ttf);
}

.header{
    font-family: Poppins-Bold;
    font-size: 66px;
    color: #D7547B;
}

.header2{
  font-family: Poppins-Bold;
  font-size: 46px;
  color: #D7547B;
}

.sub-header{
    font-family: Poppins-Regular;
    font-size: 36px;
}

.sub-header2{
    font-family: Poppins-Regular;
    font-size: 26px;
}

.header-nav{
    font-family: Poppins-Bold;
    font-size: 30px;
    color: #D7547B !important;
    transition: transform .6s;
    
  &:hover{
    transform: scale(1.10);
  }
}

.content{
    font-family: Poppins-Regular;
    font-size: 21px;
    color: #676363;
}

.nav-font{
    font-family: Poppins-SemiBold;
    font-size: 20px;
    color: #676363;
}

.card-title{
  font-family: Poppins-Bold !important;
  font-size: 23px !important;
}

.card-text{
  font-family: Poppins-Regular !important;
  font-size: 16px !important;
  color: #737373 !important;
}

.category{
    font-family: Poppins-Bold !important;
    font-size: 13px !important;
    color: #000000 !important;
}

.footer-title{
  font-family: Poppins-Bold !important;
  font-size: 17px !important;
}

.footer-text{
  font-family: Poppins-Regular !important;
  font-size: 17px !important;
  color: #737373 !important;
}

.sub-detail{
  font-family: Poppins-Regular !important;
  font-size: 16px !important;
}

.header-detail{
  font-family: Poppins-Bold !important;
  font-size: 40px !important;
}

.subheader-detail{
  font-family: Poppins-Bold !important;
  font-size: 24px !important;
}

.written-detail{
  font-family: Poppins-SemiBold !important;
  font-size: 16px !important;
}

.header-label{
  font-family: Poppins-Regular !important;
  font-size: 20px !important;
  color: #676363;
}

.label{
  font-family: Poppins-Regular !important;
  font-size: 14px !important;
  color: #676363;
}