.img0 {
  background: url("../../src/img/dummy.jpg");
}

.img1 {
  background: url("../../src/img/people1.jpg");
}

.img2 {
  background: url("../../src/img/people2.jpg");
}

.img3 {
  background: url("../../src/img/people3.jpg");
}

.img4 {
  background: url("../../src/img/icons/chat.svg");
}

.img5 {
  background: url("../../src/img/icons/medicine.svg");
}

.img6 {
  background: url("../../src/img/banner.jpg");
}

.img7 {
  background: url("../../src/img/basics.jpg");
}

.img8 {
  background: url("../../src/img/CompleteNutritionFood.jpg");
}

.img9 {
  background: url("../../src/img/doctor.jpg");
}

.img10 {
  background: url("../../src/img/goodlife.jpg");
}
