.background-landing {
  background: url("../../src/img/background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.landing-set {
  padding-left: 2.5rem;
  padding-top: 9rem;
}

.headerBlog {
  background-color: #d7547b;
  background-size: cover;
  height: 600px !important;
}

.footer{
  background-color: #EBEBEB;
  height: 450px !important;
}

.card{
  border-radius: 15px 15px 0 0 !important;
}

.img-bg {
  background-size: cover;
  height: 200px !important;
  border-radius: 15px 15px 0 0 !important;
}

.btn {
  border-radius: 26px !important;
  padding: 10px 50px;
  font-family: Poppins-Regular;
}

.btn-primary {
  color: #fff !important;
  background-color: #d7547b !important;
  border-color: #d7547b !important;
  transition: transform 0.3s;

  &:hover {
    opacity: 80%;
  }
}

.btn-info {
  color: #fff !important;
  background-color: #50bdb9 !important;
  border-color: #50bdb9 !important;
  transition: transform 0.3s;

  &:hover {
    opacity: 80%;
  }
}

.btn-view{
  border-radius: 0px !important;
}

.set-padding-0{
  padding: 0px !important;
}

.icon-set-1 {
  margin-top: -3px;
  height: 20px;
}

.icon-set-2 {
  margin-top: -6px;
  height: 20px;
}

.icon-set-3 {
  margin-top: -6px;
  margin-right: 10px;
  margin-left: -10px;
  height: 20px;
}

.set-img-1 {
  position: absolute;
  z-index: 20;
  top: 125px;
  right: 50px;
  transition: transform 0.8s;
  width: 400px;

  &:hover {
    z-index: 50;
    transform: scale(1.05);
  }
}

.set-img-2 {
  position: absolute;
  z-index: 10;
  top: -80px;
  transition: transform 0.8s;
  margin-left: 0px;
  width: 500px;

  &:hover {
    z-index: 50;
    transform: scale(1.05);
  }
}

.set-img-3 {
  position: absolute;
  z-index: 30;
  top: 250px;
  right: 350px;
  transition: transform 0.8s;
  width: 300px;

  &:hover {
    z-index: 50;
    transform: scale(1.05);
  }
}

.set-content-1 {
  margin-left: -1rem !important;
}

.whiteButton {
  background-color: white;
  border-color: #707070;
  border-radius: 0px 5px 5px 0px !important;
  border-left: white;
}

.form-style {
  width: 30%;
  height: 50px;
  border-radius: 3px 0px 0px 3px !important;
  border-color: #707070;
}
