// FOR LAPTOP WITH 1366x768 or ELSE
@media screen and (max-width: 1366px) {
  .nav-item{
    margin: 0px 30px !important;
  }

  .header{
      font-size: 46px !important;
  }

  .content{
      font-size: 16px !important;
  }

  .set-img-1 {
    top: 130px !important;
    right: 50px !important;
    width: 250px !important;
  }

  .set-img-2 {
    top: -30px !important;
    margin-left: 20px !important;
    width: 350px !important;
  }
  
  .set-img-3 {
    top: 250px !important;
    right: 250px !important;
    width: 150px !important;
  }

  .landing-set {
    padding-top: 4rem !important;
  }
}

// MOBILE PHONE
@media screen and (max-width: 500px) {
  .set-img-1 {
    display: none;
  }

  .set-img-2 {
    display: none;
  }
  
  .set-img-3 {
    display: none;
  }

  .icon-set-1 {
    height: 15px !important;
  }
  
  .icon-set-2 {
    height: 15px !important;
  }

  .landing-set {
    padding: 3rem 1rem !important;
  }
  
  .btn{
    padding: 10px 40px !important;
  }

  .btn-primary{
    margin-right: 0px !important;
    padding-left: 45px !important;
    padding-right: 45px !important;
    margin-bottom: 0.5rem !important;
    font-size: 12px;
  }

  .btn-info{
    margin-right: 28px !important;
    font-size: 12px;
  }

  .header-nav{
    margin-left: 25px !important;
    margin-bottom: 1rem;
  }
}