// FOR LAPTOP WITH 1366x768 or ELSE
@media screen and (max-width: 1366px) {
  .nav-item {
    margin: 0px 30px !important;
  }

  .bubble-chat{
    max-width: 500px !important;
  }

  .bubble-chat-2{
    max-width: 500px !important;
  }

  .searchMedicine {
    min-width: 400px;
  }

  .divSearch {
    margin-left: -2rem !important;
  }

  .modal-content {
    margin-top: -5% !important;
    margin-left: -10% !important;
  }

  .circle-icon-4 {
    margin-left: -2rem !important;
  }

  .header {
    font-size: 46px !important;
  }

  .content {
    font-size: 16px !important;
  }

  .set-img-1 {
    top: 130px !important;
    right: 50px !important;
    width: 250px !important;
  }

  .set-img-2 {
    top: -30px !important;
    margin-left: 20px !important;
    width: 350px !important;
  }

  .set-img-3 {
    top: 250px !important;
    right: 250px !important;
    width: 150px !important;
  }

  .landing-set {
    padding-top: 4rem !important;
  }

  .wefrgt {
    margin-top: 20px !important;
    margin-left: 80% !important;
  }

  .adwadadwdwdawd{
    width: 95.5% !important;
  }
}

// MOBILE PHONE
@media screen and (max-width: 500px) {
  .dwsefgdwsefg {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }

  .bubble-chat {
    width: 250px !important;
    font-size: 12px !important;
    margin-left: 1rem !important;
    padding: 10px 20px !important;
    margin-bottom: 2rem !important;
  }

  .bubble-chat-2 {
    width: 250px !important;
    font-size: 12px !important;
    margin-right: 1rem !important;
    padding: 10px 20px !important;
    margin-bottom: 2rem !important;
  }

  #adwadwadaadawda{
    display: none !important;
  }

  .header-chat {
    width: 120% !important;
    display: none;
    z-index: 1000;
  }

  .chat-area{
    width: 120% !important;
    display: none;
    z-index: 1000;
  }

  .footer-chat{
    display: none;
    padding: 10px !important;
    width: 120% !important;
    z-index: 1000;
  }

  .adawdawdad{
    height: 30px !important;
    margin-top: 1.3rem;
  }

  #adawd{
    padding: 0px !important;
    width: 50px !important;
  }

  .awdwada{
    display: none !important;
  }

  .awdwada2{
    display: block !important;
    margin-top: -1.6rem !important;
    margin-bottom: 1rem !important;
    margin-right: 16.5rem !important;
  }

  .adwadawd{
    margin-top: -1.6rem !important;
    margin-left: 16.5rem !important;
  }

  .awsfawdwa {
    margin-top: 10px !important;
    width: 75% !important;
  }

  .awsfawdwa2 {
    position: absolute;
    margin-top: 10px !important;
    margin-left: 115px !important;
    width: 100% !important;
  }

  .awdaw {
    margin-left: 0px !important;
  }

  .adawdawt{
    padding-left: 1rem !important;
  }

  .backbtn{
    display: block;
  }

  .adwadadwdwdawd{
    width: 100% !important;
  }

  .searchChatsearchChat {
    width: 85.3% !important;
  }

  .set-img-1 {
    display: none;
  }

  .set-img-2 {
    display: none;
  }

  .set-img-3 {
    display: none;
  }

  .icon-set-1 {
    height: 15px !important;
  }

  .icon-set-2 {
    height: 15px !important;
  }

  .landing-set {
    padding: 3rem 1rem !important;
  }

  .btn {
    padding: 10px 40px !important;
  }

  .btn-primary {
    margin-right: 0px !important;
    padding-left: 45px !important;
    padding-right: 45px !important;
    margin-bottom: 0.5rem !important;
    font-size: 12px;
  }

  .btn-info {
    margin-right: 28px !important;
    font-size: 12px;
  }

  .header-nav {
    margin-left: 25px !important;
    margin-bottom: 1rem;
  }

  .footer {
    padding-left: 1.5rem !important;
  }

  .searchBlog {
    width: 400px !important;
  }

  #searchText {
    display: none !important;
  }

  .icon-set-3 {
    height: 15px !important;
    margin-top: -4px !important;
    margin-right: 0px !important;
  }

  .img-doctor {
    margin-left: 5rem !important;
    margin-bottom: 1rem !important;
    height: 100px !important;
    width: 100px !important;
  }

  .icon-online {
    margin-top: 4.5rem !important;
    margin-left: 4rem !important;
  }

  .icon-offline {
    margin-top: 4.5rem !important;
    margin-left: 4rem !important;
  }

  .width-set {
    text-align: center;
    width: 100% !important;
    padding: 0px !important;
  }

  .marb {
    margin-top: -4rem !important;
    margin-bottom: 10rem !important;
  }

  .mt-set {
    margin-top: 15px !important;
  }

  .setSearch {
    width: 10px !important;
  }

  .postSize {
    width: 100% !important;
    max-width: 100% !important;
    flex: 0 0 80% !important;
  }

  .header {
    font-size: 30px !important;
  }

  .sub-header {
    font-size: 20px !important;
    margin-left: -1rem !important;
  }

  .banner-medic {
    padding-top: 7rem !important;
    padding-bottom: 3rem !important;
    background-color: transparent !important;
  }

  .circle-btn {
    width: 100px !important;
    height: 100px !important;
  }

  .searchMedicine {
    min-width: 230% !important;
    margin-left: -5rem !important;
  }

  .divSearch {
    margin-left: -10rem !important;
  }

  .modal-content {
    margin-top: -10% !important;
    margin-left: -5% !important;
    width: 110% !important;
  }

  .circle-icon-4 {
    margin-left: 0rem !important;
  }

  .btn-border-pink {
    margin: 0px 15px;
  }

  .circle-icon-5 {
    display: none;
  }

  .circle-icon-6 {
    display: none;
  }

  .awd {
    padding: 0 30px;
  }
}
